*{
    border: 1px dashed blue;
}

body{
    width: 70%;
    margin:90px auto;
    padding: 10px;
}


div{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: solid black;
    margin: 15px auto;
}


.uno{
    background-color: red;
}

.dos{
    background-color: blue;
}

.tres{
    background-color: gold;
}

.cuatro{
    background-color: green;
}